* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root {
    --primary : rgba(241, 226, 13, 0.9);
}

body {
    background-color: rgb(158, 71, 86);
    color: rgba(241, 226, 13, 0.9);
    height : 100vh; 
    overflow: hidden;
}

.top {
    width: 100%;
    height: auto;
    display: flex;
    align-items:center;
    justify-content: center;
    position: absolute;
    top: 10px;
}

.logo {
    width: 200px;
    margin-right: 12px;
    opacity: 0.9;
}
#contenu {
    display: flex;
    width : 100%;
    height: auto;
    justify-content: space-around;
    align-items: center;
    position: absolute;
    top:50%;
    bottom: 50%;
}

#counters {
    width : 100%;
    display:flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    position:absolute;
    bottom: 10px;
}

#joueur,
#ordi {
    height: auto;
}

.images, #choiceOrdi {
    width: 60px;
    height: 60px;
}

button:hover {
    cursor: pointer;
}

button {
    background-color:transparent;
    border-radius: 50%;
    border: 2px solid var(--primary);
    border: none;
}

button:active,
button:focus {
    background-color:var(--primary);
}