* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root {
    --primary : rgba(241, 226, 13, 0.9);
}

body {
    background-color: rgb(158, 71, 86);
    color: rgba(241, 226, 13, 0.9);
    height : 100vh; 
    overflow: hidden;
}

.top {
    width: 100%;
    height: auto;
    display: flex;
    align-items:center;
    justify-content: center;
}

.logo {
    width: 200px;
    margin-right: 12px;
    opacity: 0.9;
}
#contenu, #counters, #resultat {
    display: flex;
    width : 100%;
    height: auto;
    justify-content: space-around;
    align-items: center;
}

#counters {
    position:absolute;
    bottom: 0;
}

#joueur,
#ordi {
    height: auto;
}

.images, #choiceOrdi {
    width: 60px;
    height: 60px;
}

button:hover {
    cursor: pointer;
}

button {
    background-color:transparent;
    border-radius: 50%;
    border: 2px solid var(--primary); 
}

button:active,
button:focus {
    background-color:var(--primary);
}